.title {
  /* font-size: xx-large; */
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  /* align-items: center; */
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: repeat(3, max-content);
  gap: 10px;
  /* align-self: center;
  justify-self: center; */
  padding: 5px;
  justify-items: center;
  width: 100vw;
}

.profile-img {
  width: 200px;
  border-radius: 40px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding: 0;
}

.links {
  justify-content: center;
  align-self: end;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.imgandlinks {
  display: flex;
  flex-direction: row;
}

.name {
  /* grid-row: 2/span 1;
  grid-column: 1; */
  text-align: left;
}

.bio {
  /* grid-column: 1 / span 1;
  grid-row: 3 / span 1; */
  text-align: left;
  align-self: end;
  /* font-size: small; */
  width: 300px;
  text-align: left;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 5px;
}

.nameandbio {
  grid-row: 1 /span 1;
  grid-column: 1/ span 1;
  padding-left: 10px;
}

.skills {
  /* font-size: small; */
  max-width: 33vw;
}
.projects {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  margin: 0;
}

.projectnav {
  background-color: aliceblue;
  border-radius: 6px;
}

.details {
  max-width: 400px;
}
.projecttitle {
  /* font-size: large; */
  padding-left: 10px;
}

.blurb {
  padding-left: 10px;
}


.projectsheader {
  padding-left: 10px;
}

.softskills {
  background-color: aliceblue;
  padding: 5px;
  border-radius: 10px;
}

.techskills {
  background-color: aliceblue;
  padding: 5px;
  border-radius: 10px;
}